<div>
    <h3>customers component card view </h3>
    <div class="card border-primary mb-3" style="max-width: 18rem;" *ngFor='let data of currentData'>
        <div class="card-header">{{data.firstName}}</div>
        <div class="card-body text-primary">
          <img class="card-img-left" src="../assets/images/male.jpg" height="100" alt="Card image cap">
          <p>{{data.address}}, {{data.city}}</p>
          <p>{{data.state.name}}</p>
          <a href="#" class="card-link">View Orders</a>
        </div>
      </div>
</div>