<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
    <app-menu></app-menu>
  <!-- <h1>
    Welcome to {{ title }}
  </h1>
  <input type="text" [value]="title" placeholder="name" (input)='title=$event.target.value'>
  <input type="text" #tval (input) = 'tval'> -->
  <!-- <h1>
    Welcome {{userName}}
  </h1> -->

  <!-- <input type="text" #tval (keyup) = 'tval'>
  <br>
  <p>{{tval.value}}</p>
  <input type="text" #tvar (input) = 'name = tvar.value'>
  <input type="text" [style.background-color] = 'color' #tvar1 (input) = 'changeColor(tvar.value)'placeholder='changecolor'>
  <button [disabled]="isUnchanged">Cancel is disabled</button>
  <br><img src="imageUrl">
  <br><button (click)="displayMessage()">Display Message</button>
  {{message}}
  <br>
  <input type="text" (input)="readMessageText($event)">




  <input type="text" #tval (keyup) = 'tval'>
  <br>
  <p>{{tval.value}}</p>
  <input type="text" #tvar (input) = 'name = tvar.value'>
  <input type="text" [style.background-color] = 'color' #tvar1 (input) = 'changeColor(tvar.value)'placeholder='changecolor'>
  <button [disabled]="isUnchanged">Cancel is disabled</button>
  <br><img src="imageUrl">
  <br><button (click)="displayMessage()">Display Message</button>
  {{message}}
  <br>
  <input type="text" (input)="readMessageText($event)">



  <input type="text" #tval (keyup) = 'tval'>
  <br>
  <p>{{tval.value}}</p>
  <input type="text" #tvar (input) = 'name = tvar.value'>
  <input type="text" [style.background-color] = 'color' #tvar1 (input) = 'changeColor(tvar.value)'placeholder='changecolor'>
  <button [disabled]="isUnchanged">Cancel is disabled</button>
  <br><img src="imageUrl">
  <br><button (click)="displayMessage()">Display Message</button>
  {{message}}
  <br>
  <input type="text" (input)="readMessageText($event)">





  <input type="text" #tval (keyup) = 'tval'>
  <br>
  <p>{{tval.value}}</p>
  <input type="text" #tvar (input) = 'name = tvar.value'>
  <input type="text" [style.background-color] = 'color' #tvar1 (input) = 'changeColor(tvar.value)'placeholder='changecolor'>
  <button [disabled]="isUnchanged">Cancel is disabled</button>
  <br><img src="imageUrl">
  <br><button (click)="displayMessage()">Display Message</button>
  {{message}}
  <br>
  <input type="text" (input)="readMessageText($event)"> -->
  <div class="clearfix" style="color: white">.</div>
  <div class="clearfix" style="color: white">.</div>
  <router-outlet></router-outlet>

</div>


